<h1>Listing soundproofnesses</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @soundproofnesses.each do |soundproofness| %>
  <tr>
    <td><%= link_to 'Show', soundproofness %></td>
    <td><%= link_to 'Edit', edit_soundproofness_path(soundproofness) %></td>
    <td><%= link_to 'Destroy', soundproofness, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Soundproofness', new_soundproofness_path %>
