<% if @session.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

    <ul>
    <% @session.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<form name="loginForm" method="post" action="<%= sessions_path %>">
  <div class="actions">
    <form action="sessions/create" >
      <input type="text" name="username" <% if @username_value %> value="<%= @username_value %>" <% end %> />
      <input type="password" name="password" />
      <input type="submit" />
    </form>
  </div>
</form>